/**
Color palette to use:

Light cyan = #00897B
Darker cyan = #00564D

Dark grey = #282828
Lighter grey = #363636
Lightest gray = #969696
*/


.main_div{
    position: absolute;
    top: 40vh;
    left: 50vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    size:1000px 1000px
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 15vh;
    color:#00897B;
}

h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 10vh;
    font-weight: lighter;
    color:#00897B;
}

h3{
    font-size: 4vh;
    font-family: "Bebas Neue", sans-serif;
    color:#00897B;
}

h4{
    font-size: 2vh;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

button{
    font-family: "Bebas Neue", sans-serif;
}

label {
    font-size: 4vh;
    font-family: "Bebas Neue", sans-serif;
}

body{
    background: #282828;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#error_msg{
    font-family: "Bebas Neue", sans-serif;
    color: red;
    text-align: center;
}

