/**
Color palette to use:

Light cyan = #00897B
Darker cyan = #00564D

Dark grey = #282828
Lighter grey = #363636
Lightest gray = #969696
*/

.main_div {
    top: 40%;

}

#backbttn {
    width: 50px;
    height: 50px;
}

label {

    color: #00897B;
    font-size: 20px;
}

input {
    border-radius: 12px;
    margin-bottom: 20px;
    width: 70%;
    height: 30px;
}

#price {
    width: 70%;
}

#substart {
    width: 18%;
}

select {
    border-radius: 12px;
    margin-bottom: 10px;
    height: 30px;
    width: 20%;
}

button {
    width: 100%;
    height: 30px;
    border-radius: 12px;
    background-color: #00564D;
    color: white;

}

.list_of_user_subs {
    background-color: #363636;
    height: 380px;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-left: 50px;
    border-radius: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.input_div {
    background-color: #363636;
    padding-left: 10px;
    padding-right: 10px;
    height: 380px;
    width: 350px;
    border-radius: 12px;
}

.bigthing {
    display: flex;
}

.header {
    position: fixed;
    width: 198px;
    background-color: #363636;
    margin-bottom: 20px;
    z-index: 2;
}

.content {
    z-index: 1;
    position: relative;
    overflow-y: auto;
    margin-top: 40px;
}

