/**
Color palette to use:

Light cyan = #00897B
Darker cyan = #00564D

Dark grey = #282828
Lighter grey = #363636
Lightest gray = #969696
*/

.main_div {
    top: 40vh;

}

#backbttn {
    width: 50px;
    height: 50px;
}

label {

    color: #00897B;
    font-size: 4vh;
}

input {
    border-radius: 12px;
    margin-bottom: 20px;
    width: 19vw;
    height: 4vh;
}

#price {
    width: 19vw;
}

#substart {
    width: 18%;
}

select {
    border-radius: 12px;
    margin-bottom: 10px;
    height: 4vh;
    width: 5vw;
}

button {
    width: 20vw;
    height: 4vh;
    border-radius: 12px;
    background-color: #00564D;
    color: white;
    font-size: 3vh;

}

.list_of_user_subs {
    background-color: #363636;
    height: 62vh;
    width: 20vw;
    text-align: justify;
    margin-left: 50px;
    border-radius: 12px;
    padding-right: 10px;
    padding-left: 10px;
}

.input_div {
    background-color: #363636;
    padding-left: 10px;
    padding-right: 10px;
    height: 62vh;
    width: 20vw;
    border-radius: 12px;
}

.bigthing {
    display: flex;
}

.header {
    position: fixed;
    width: 20vw;
    background-color: #363636;
    margin-top: 0;
    margin-bottom: 10px;
    z-index: 2;
}

.content {
    z-index: 1;
    position: relative;
    overflow-y: auto;
    margin-top: 11vh;
    height: 50vh;
}

.content h3{
    text-align: center;
}

h1{
    margin-bottom: 0;
}

h4{
    font-size: 3vh;
}


