.menu{
    display:flex;
    text-align: center;
}



img {
    width: 10vw;
    height: 18vh;

}

.main_div{
    height: 80vh;
}

h3{
    font-size: 5vh;

}
#img{
    margin-left: 5vw;
}
a{
    text-decoration: none;
    transition: transform 0.8s ease;
    width: 10vw;
    height: 17vh;
}



a:hover{
    transform: scale(1.2);
}

