body {
    background-color: #363636;
    display: flex;
    overflow-x: hidden;

}

.main {
    display: flex;
}

.filters, .subscriptions {
    width: 21vw;
    height: 98vh;
    background-color: #282828;
    border-radius: 12px;
}

.subscriptions {
    margin-right: 1vw;
}

.statistics {
    width: 59vw;
    height: 98vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    text-align: center;

}

.help{
    display: block;

}

.header {
    display: flex;
    width: 60vw;
}

.backbutton, .backbutton img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.header_h1 {
    margin-left: 20vw;
}

h1 {
    margin-top: 0;
}

h2 {
    font-size: 5vh;
    text-align: center;
}

h4 {
    margin-top: 0;
    margin-left: 10px;
    font-size: 3vh;
}

.content {
    margin-top: 85px;
    width: 19vw;
    height: 89vh;
    overflow-y: auto;
}

.subs_h2 {
    width: 19vw;
    height: 20px;
    border-radius: 12px;
    background-color: #282828;
    position: fixed;
    z-index: 2;
}

label {
    color: white;
    font-size: 3vh;
}

.filters {
    overflow-y: auto;
}

.filters h2 {
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    text-align: left;
}


.filters h1 {
    margin-bottom: 0;
    text-align: center;
    font-size: 70px;
    margin-top: 20px
}

.filters input {
    margin-left: 20%;
}


button {
    width: 15vw;
    height: 6vh;
    background-color: #00564D;
    font-size: 5vh;
    margin-top: 30px;
    border-radius: 12px;
    text-align: center;
    margin-left: 4vh;
    color: white;
}

.img_cat_statistics {
    display: flex;
}

.img_cat_statistics img{
    width: 35vw;
    height: 45vh;
}

.statistics_headers {
    margin-top: 3vh;

}

.arranged_table {
    display: flex;
}

.arranged_table h2 {
    text-align: center;
}

.htl {
    margin-left: 2vh;
}

.lth {
    margin-left: 2vh;
}

.pay_method_filter{
    display: block;
}

.iranoutofnames{
    display: flex;
    margin-left: 3vw;
}

.monthly, .yearly, .onetime{
    margin-right: 2vw;
    margin-left: 2vw;
}






